<% layout('./layout/page.ejs') %>

<% if(user) { %>
   <h1>Привет <%= user.username %></h1>
<% } else { %>
   <h1>Привет незалогиненный пользователь</h1>
   <div class="alert alert-info mt-3">
       <p>Для просмотра страниц музыкантов необходимо <a href="/logreg">войти в систему</a>.</p>
   </div>
<% } %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>