<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Музыкальные исполнители</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
     <div class="container-fluid">
       <a class="navbar-brand" href="/">
         <i class="bi bi-music-note-beamed me-2"></i>Исполнители
       </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <% if(typeof nav == 'object' && nav){ %>
             <% nav.forEach(function(item){ %>
               <li class="nav-item">
                 <a class="nav-link" href="/musicians/<%= item.nick %>">
                   <i class="bi bi-person-circle me-1"></i><%= item.title %>
                 </a>
               </li>
             <% }) %>
           <% } %>
         </ul>
         
         <ul class="nav navbar-nav navbar-right">
           <% if(user){ %>
             <li class="nav-item">
               <form action="/logout" method="post" class="d-inline">
                 <button type="submit" class="nav-link btn btn-link">
                   <i class="bi bi-box-arrow-right me-1"></i>Выйти
                 </button>
               </form>
             </li>
           <% } else { %>    
             <li class="nav-item">
               <a class="nav-link" href="/logreg">
                 <i class="bi bi-box-arrow-in-right me-1"></i>Войти
               </a>
             </li>
           <% } %>
         </ul>
       </div>
     </div>
   </nav>

    <main class="container-fluid">
      <%- body %>
    </main>

    <footer class="bg-dark text-white py-4 mt-5">
      <div class="container text-center">
        <p class="mb-0">Project Musician 2025.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>